html,
body {
  background: url("../images/pink_rice.png");
  margin: 0;
  padding: 0;
}

.header {
  opacity: 0.7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: rgb(96, 216, 224);
  font-size: 45pt;
  padding: 45px;
  background-color: rgb(196, 243, 243);
}

.container {
  display: flex;
  margin: 30px 0 30px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.navBar {
  display: flex;
  margin-left: auto;
  height: 100%;
  opacity: 0.7;
  flex: 2;
  flex-direction: column;
}

.navLink {
  list-style-type: none;
  padding: 10px;
}

a {
  color: rgb(240, 140, 156);
  text-decoration: none;
}

a:hover {
  color: rgb(231, 90, 133);
}

.catalog-content {
  flex: 8;
  /* justify-content: center; */
}

.catalog-img {
  height: 300px;
  justify-content: center;
}
