html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#header {
  color: pink;
  font-size: 30pt;
  padding: 40px;
  text-align: center;
  background-color: rgb(196, 243, 243);
}
.container {
  max-width: 900px;
  display: flex;
  align-content: center;
  margin: 40px auto 0 auto;
}

#navBar {
  flex: 2;
}
.content {
  flex: 6;
}
.navLink {
  list-style-type: none;
  flex: 1;
  padding: 10px;
}
a {
  color: rgb(0, 140, 255);
  text-decoration: none;
}

a:hover {
  color: paleturquoise;
}
