html,
body {
  background: url("../images/pink_rice.png");
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: rgb(196, 243, 243);
  color: rgb(96, 216, 224);
  font-size: 45pt;
  padding: 40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0px 30px 30px;
}

.navBar {
  display: flex;
  flex: 1 1 110px;
  flex-direction: column;
  height: 100%;
  background-color: rgb(248, 231, 234);
  opacity: 0.6;
  border-radius: 5px;
  border: 3px dotted white;
  margin-top: 10px;
}

.navLink {
  list-style-type: none;
  padding: 6px 0px 6px 0px;
}

a {
  color: rgb(240, 140, 156);
  text-decoration: none;
}

a:hover {
  color: rgb(231, 90, 133);
}

.catalog-content {
  display: flex;
  flex: 9;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.catalog-img {
  margin-top: 10px;
  height: 300px;
}
